@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap);
@font-face {
  font-family: 'futura';
  src: url(./assets/font/futura/futura\ light\ bt.ttf);
}
:root {
  --background-color: #0A2647;
  --element-primary-color: #144272;
  --element-secondary-color: #2C74B3;
  --text-color: #fff;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  background: var(--background-color) url(./assets/image/hero-section-background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--text-color);
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
  'nav'
  'main'
  'footer';
  overflow: hidden;
}

/* general */
h1, h2, h3, h4 {
  font-family: "Alfa Slab One";
}

p {
  font-family: futura, sans-serif;
}

section:where(.hero, .profile) {
  display: grid;
  place-content: center;
  padding: 0 40px;
}

section h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
}

section:not(.hero) {
  padding-top: 40px;
}

/* main */
main {
  grid-area: main;
  display: grid;
  grid-template-rows: 3.2fr 4.7fr repeat(5, 6fr);
  grid-template-areas: 
  'hero'
  'profile'
  'education'
  'skills'
  'projects'
  'about'
  'contact';
}

/* nav section */
nav {
  font-family: futura, sans-serif;
  grid-area: nav;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
nav ul li {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.nav-link {
  font-weight: bold;
  transition: 1s ease;
  color: var(--text-color);
  transition: .5s ease;
}

.nav-link:hover {
  color: var(--element-secondary-color);
}

/* Hero Section */

section.hero {
  display: grid;
  grid-template-columns: 5fr repeat(2, minmax(125px, 1.2fr)) 5fr;
  grid-template-areas: 
  'ttl-hero ttl-hero ttl-hero ttl-hero'
  'txt-hero txt-hero txt-hero txt-hero';
  gap: 1.5rem 1rem;
}

section.hero h1 {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  grid-area: ttl-hero;
}

section.hero p {
  font-size: 1.5rem;
  text-transform: lowercase;
  text-align: center;
  grid-area: txt-hero;
}

section.hero p span {
  font-weight: bold;
  background-color: var(--element-secondary-color);
  padding: 5px;
  border-radius: 5px;
}

section.hero button {
  background: transparent;
  border: 2px solid var(--element-secondary-color);
  border-radius: 10px;
  padding: 12px 0;
  text-transform: capitalize;
  cursor: pointer;
  transition: 1s ease;
  font-family: futura, sans-serif;
}

section.hero button a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

section.hero button:hover {
  background: var(--element-primary-color);
  border: 2px solid transparent ;
}

.btn-about {
  grid-column: 2 / 3;
}

.btn-contact {
  grid-column: 3 / 4;
}

/* profile */
section.profile {
  grid-area: profile;
  row-gap: 1.5rem;
  place-items: center;
}

img.profile-pic {
  width: 50%;
  height: 100%;
}

section.profile p {
  width: 75%;
  font-size: 1.2rem;
  text-align: center;
}

/* education*/
section.education {
  grid-area: education;
  display: grid;
  grid-template-columns: 3fr minmax(300px, 5fr) 3fr minmax(300px, 5fr) 3fr;
  grid-template-rows: 10vh 60vh;
  grid-template-areas: 
  'ttl-edu ttl-edu ttl-edu ttl-edu ttl-edu';
  row-gap: 6rem;
}

section.education h2 {
  grid-area: ttl-edu;
}

div.box-container {
  position: relative;
  display: grid;
  align-content: space-around;
  background-color: var(--element-primary-color);
  padding: 15px;
  text-align: center;
}

.box-container time[datetime] {
  font-weight: bold;
  text-transform: capitalize;
} 

.box-1 {
  grid-column: 2 / 3;
}

.box-2 {
  grid-column: 4 / 5;
}

.line-dashed {
  width: 100%;
  grid-area: 2 / 3 / 3 / 4;
  border-bottom: 2px dashed #fff;
  align-self: center;
}

.box-icon {
  justify-self: center;
  overflow: hidden;
  opacity: 0.2;
  position: absolute;
  top: -60px;
  width: 50px;
  color: #fff;
}

div.box-container h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

div.box-container h3 span {
  text-transform: uppercase;
}

/* skills */
section.skills {
  display: grid;
  grid-area: skills;
  grid-template-columns: 2.5fr 5fr 2.5fr;
  grid-template-rows: 20vh 30vh 40vh;
  grid-template-areas:
'ttl-skll ttl-skll ttl-skll' ;
justify-items: center;
}

section.skills h2 {
  grid-area: ttl-skll;
}

div:where(.box-icon-html, .box-icon-css, .box-icon-btstrp) {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--element-primary-color);
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.box-icon-btstrp .skills-ico {
  transform: scale(1.4);
}

.sklls-ico-container {
  place-self: start center;
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  column-gap: 2rem;
}

.skills-ico {
  width: 50px;
}

section.skills h3 {
  grid-area: 2 / 2 / 3 / 3;
  text-align: center;
  place-self: end center;
}

.soft-skill-ttl {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr auto 3fr;
  column-gap: 12px;
  align-items: center;
}

.soft-skill-ttl::before, .soft-skill-ttl:after {
  align-items: center;
  content: "";
  height: 2px;
  background-color: #fff;
  display: block;
}


.sft-skll-container {
  grid-area: 3 / 2 / 4 / 3;
  place-self: center;
  display: flex;
  column-gap: 2rem;
}

.box-skll {
  min-width: 150px;
  display: grid;
  align-content: space-around;
  background-color: var(--element-primary-color);
  padding: 15px;
  text-align: center;
  row-gap: 1rem;
}

.box-skll h4 {
  font-size: 14px;
  text-transform: capitalize;
}
/* projects */
section.projects {
  display: inline-grid;
  grid-area: projects;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 5rem;
}

section.projects h2 {
  grid-area: 1 / 2 / 2 / 3;
}

.prjcts-container {
  place-self: start;
  display: inline-flex;
  grid-area: 2 / 2 / 3 / 3;
  gap: 2rem;
}

.card {
  border: none;
  background-color: transparent;
}

.card:hover .card-img-overlay {
  box-shadow: inset 2px 2px 2rem 2rem #000;
  opacity: 1;
}

.card:hover img {
  filter: blur(2px);
}

.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: end;
  opacity: 0;
  color: #fff;
  transition: all .5s ease;
  height: auto;
}

.card-img-overlay h5 {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 5px 5px 0px #000;
}

/* about */
section.about {
  grid-area: about;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto minmax(100px, 1fr);
  grid-template-rows: auto 1fr;
  gap: 4rem 1.5rem;
}

section.about h2 {
  grid-column: 1 / 5;
}

.picture-container {
  display: flex;
  justify-content: end;
  overflow: hidden;
}

.picture-container img {
  height: 60%;
}

.abt-txt-container {
  grid-area: 2 / 3 / 3 / 4;
  width: 60%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  text-indent: 1rem;
  row-gap: 1rem;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding-top: 75px;
}

/* contact */
section.contact {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

section.contact form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 75%;
  border-radius: 60px;
  gap: 1rem;
}


form div {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

form div > *, textarea {
  font-family: futura, sans-serif;
  font-size: 1.2rem;
}

form div > label {
  font-size: 1.1rem;
  text-transform: capitalize;
}

label::before {
  content: "* ";
  color: red;
}

form div > *:not(label) {
  padding: 10px;
  border: 0;
  border-radius: 10px;
}

div:where(.form-group-first-name, .form-group-email) {
  grid-column: 1 / 2;
}

div:where(.form-group-last-name, .form-group-gender) {
  grid-column: 2 / 3;
}

textarea, .h-captcha, button {
  grid-column: 1 / span 2;
}

span.h-captcha {
  place-self: center;
}

form textarea {
  place-self: center;
  width: 75%;
  padding: 10px;
  box-sizing: border-box;
}

form button {
  place-self: center;
  padding: 10px;
  min-width: 20%;
  width: 25%;
  border-radius: 20px;
  border: 0;
}

/* footer */
footer {
  grid-area: footer;
  background: var(--element-primary-color);
  font-family: futura, sans-serif;
}

footer .row {
  display: flex;
  row-gap: 1.5rem;
}

footer ul.nav {
  padding: 0;
}

footer ul li a.nav-link {
  text-transform: capitalize;
}

footer ul li a.nav-link:hover {
  color: var(--element-secondary-color);
}

footer .social-media-ftr {
  display: flex;
  column-gap: 2rem;
}

footer .social-media-ftr a img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  main {
    grid-template-rows: 3.5fr 4.7fr repeat(5, 6fr);
  }

  section.hero h1 {
    font-size: 4rem;
  }

  section.hero p {
    font-size: 1.2rem;
  }

  section.hero button a {
    font-size: 1rem;
  }

  section.education {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 40px 0px;
    align-items: center;
  }

  div.box-container {
    width: 75%;
    height: 350px;
    padding: 20px;
    row-gap: 2rem;
    z-index: 1;
  }

  .box-icon {
    opacity: 0.1;
    position: static;
  }

  .line-dashed {
    width: 25%;
    grid-area: 2 / 3 / 3 / 4;
    border-bottom: 2px dashed #fff;
    transform: rotate(90deg);
    overflow: hidden;
  }

  section.projects {
    grid-template-columns: 1fr minmax(200px, 3fr) 1fr;
  }

  .prjcts-container {
    flex-direction: column;
  }
  
  section.about {
    gap: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .picture-container img {
    height: 50vh;
    margin-top: 50px;
  }
  
  .abt-txt-container {
    width: 100%;
    padding: 0;
    font-size: 1rem;
    align-items: center;
    p {
      width: 50%;
      min-width: 250px;
    }
  }
  
  section.contact {
    padding-bottom: 60px;
  }

  section.contact form {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
    border-radius: 60px;
    gap: 1rem;
  }

  form textarea {
    width: 100%;
  }

  span.h-captcha {
    transform: scale(0.9);
  }
}

@media (max-width:576px) {
  section:where(.hero, .profile) {
    padding: 0 20px ;
  }

  section.skills {
    grid-template-rows: repeat(3, auto) 1fr;
    row-gap: 5rem;
  }

  section.skills h3 {
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
    place-self: start center;
  }

  .sklls-ico-container {
    width: 250px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2rem;
  }

  .sft-skll-container {
    width: 200px;
    margin-top: 60px;
    flex-direction: column;
    row-gap: 2rem;
  }
}

/* REMINDER : (JANGAN LUPA DIHAPUS APABILA INGIN UPLOAD DI GITHUB)
JIKA RESPONSIVE WEBSITE TIDAK DAPAT TERLALU MENGECIL MISAL KE UKURAN LAYAR 400PX KEBAWAH MAKA 
   ITU KARENA ADA BEBERAPA BAGIAN YANG DI SET KE UKURAN FIXED. 
   MISAL :
   - PADA BAGIAN ADA GRID-TEMPLATE-COLUMN PADA CONTAINER /ELEMENT YANG MUNGKIN MENGGUNAKAN MINMAX
   - ELEMENT/CONTAINER/PARENT MEMILIKI UKURAN MIN-WIDTH/FIXED */